body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
  
  .colors div {
    height: 200px;
    width: 200px;
  }
  
  .green {
    background-color: green;
  }
  .yellow {
    background-color: yellow;
  }
  .red {
    background-color: red;
  }
  .grey {
    background-color: grey;
  }
  
  .user {
    grid-column: 2;
  }
  